.about-us{
    margin-top: 100px;
}
.about{
    display: flex;
    justify-content: space-between;
}

.about div{
    width: 48%;
}

.about .content h3{
    color: var(--dark-color);
    margin-bottom: 20px;
    font-size: 25px;
}

.about .content p{
    color: var(--gray-color);
    line-height: 1.8;
    width: 80%;
    margin: 20px 0;
}

.about .image img{
    width: 100%;
    height: 350px
}

@media (max-width:900px) {
    .about{
        flex-direction: column;
    }

    .about .content{
        width: 100%;
    }

    .about .content p{
        width: 100%;
    }

    .about .image{
        width: 100%;
    }

    .about .image img{
        height: auto;
    }
}