.footer{
    text-align: center;
    background-color: rgb(247, 245, 245);
    padding: 80px 20px;
}

.footer .copy-right {
    font-size: 17px;
    text-transform: capitalize;
    color: var(--dark-color);
    line-height: 1.8;
}


.footer .copy-right span{
    font-weight: bold;
    color: var(--primary-color);
}


.footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.footer .icons .icon:hover{
color: var(--primary-color);
}